* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.copyright{
    animation-name: colorful;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
a:hover{
    font-size: 102%;
    animation-name: colorful;
    animation-duration: 3s;
}
@keyframes colorful {
    33% {background-color: salmon;}
    66% {background-color: forestgreen;}
    100% {background-color: aqua;}
}
@keyframes copyrightG {
    33% {background-color: salmon;}
    66% {background-color: forestgreen;}
    100% {background-color: aqua;}
}

body,html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-size-adjust: none;
    background: #F5F5DC;
}

.Content {
    width: 1000px;
    margin: auto;
}

.inside {
    width: 960px;
    margin: 0 auto;
}

.language {
    width: 90%;
    padding: 25px;
    text-align: center;
    margin: 20px 15px 5px 15px;
    clear: both;
}

a:active,a:link,a:visited {
    color: #000;
}

div {
    display: block;
}

p {
    text-align: justify;
    margin: 0 0 15px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#Panes>div {
    width: 45.5%;
    text-align: left;
}

div#Panes {
    margin-top: 15px;
}

#Panes>div:nth-of-type(odd) {
    float: left;
    margin: 0 1.5% 0 3%;
}

#Panes>div:nth-of-type(even) {
    float: right;
    margin: 0 3% 0 1.5%;
}

h1 {
    font-size: 70px!important;
    line-height: 90px;
}

h1,h2 {
    font-weight: 500;
    font-family: DauphinPlain;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}

h4 {
    margin: 10px 10px 5px 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-style: italic;
}

h5 {
    margin: 5px 10px 20px 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.main {
    text-align: center;
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}